<div class="container-fluid">
<div class="row">
  <div class="col">
    <div class="jumbotron">
      <p class="lead">
        <em>Utilizing Fitbit data to identify patterns in behavior as it relates to health.</em>
      </p>
      <hr class="my-4">
      <p>To get started, select one of the datasets below.
      </p>

      <div class="row">
        <div class="col">
          <h2 class="center">Select Datasets</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3 col-12">
          <div class="dataset">
            <button type="button" class="btn btn-primary" (click)="toggleDatasetOptions('activity')">Activity</button>
            <form *ngIf="datasetOptionsVisibility['activity']">
              <fieldset class="form-group">
                <div *ngFor="let dataset of activityDatasets" class="option">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optionsRadios" id="{{dataset.displayName}}"
                        value="{{dataset.displayName}}" (click)="selectDataset('activity', dataset)">
                      {{dataset.displayName}}
                    </label>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>

        <div class="col-sm-3 col-12">
          <div class="dataset">
            <button type="button" class="btn btn-primary" (click)="toggleDatasetOptions('sleep')">Sleep</button>
            <form *ngIf="datasetOptionsVisibility['sleep']">
              <fieldset class="form-group">
                <div *ngFor="let dataset of sleepDatasets" class="option">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optionsRadios" id="{{dataset.displayName}}"
                        value="{{dataset.displayName}}" (click)="selectDataset('sleep', dataset)">
                      {{dataset.displayName}}
                    </label>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>

        <div class="col-sm-3 col-12">
          <div class="dataset">
            <button type="button" class="btn btn-primary" (click)="toggleDatasetOptions('diet')">Diet</button>
            <form *ngIf="datasetOptionsVisibility['diet']">
              <fieldset class="form-group">
                <div *ngFor="let dataset of dietDatasets" class="option">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" disabled class="form-check-input" name="optionsRadios"
                        id="{{dataset.displayName}}" value="{{dataset.displayName}}"
                        (click)="selectDataset('diet', dataset)">
                      {{dataset.displayName}}
                    </label>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>

        <div class="col-sm-3 col-12">
          <div class="dataset">
            <button type="button" class="btn btn-primary"
              (click)="toggleDatasetOptions('mindfulness')">Mindfulness</button>
            <form *ngIf="datasetOptionsVisibility['mindfulness']">
              <fieldset class="form-group">
                <div *ngFor="let dataset of mindfulnessDatasets" class="option">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" disabled class="form-check-input" name="optionsRadios"
                        id="{{dataset.displayName}}" value="{{dataset.displayName}}"
                        (click)="selectDataset('mindfulness', dataset)">
                      {{dataset.displayName}}
                    </label>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>

      <div class="timeframe" *ngIf="chosenDatasets.length > 0">
        <div class="row">
          <div class="col">
            <h2 class="center">Select Timeframe</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 col-12">
            <div class="dataset">
              <button type="button" class="btn btn-primary" (click)="toggleDatasetOptions('2020')">2020</button>
              <form *ngIf="datasetOptionsVisibility['2020']">
                <fieldset class="form-group">
                  <div *ngFor="let month of months" class="option">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="{{month}}"
                          value="{{month}}" (click)="selectTimeframe('2020', month)">
                        {{month}}
                      </label>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>

          <div class="col-sm-3 col-12">
            <div class="dataset">
              <button type="button" class="btn btn-primary" (click)="toggleDatasetOptions('2019')" disabled>2019</button>
              <form *ngIf="datasetOptionsVisibility['2019']">
                <fieldset class="form-group">
                  <div *ngFor="let month of months" class="option">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="{{month}}"
                          value="{{month}}" (click)="selectTimeframe('2019', month)">
                        {{month}}
                      </label>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>

      </div>

      <div class="search" *ngIf="chosenDatasets.length > 0 && chosenTimeframe">
        <div class="row">
          <div class="col-6 offset-md-3">
            <button type="button" class="btn btn-success btn-lg btn-block" (click)="fetchAndPlotData()">Plot Data</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

  <div class="row">
    <div class="col">
      <div id="chartContainer"></div>
    </div>
  </div>
</div>